@use "sass:color";
@use "variables" as v;

// Media queries sizes
@mixin phone {
  @media (min-width: v.$phone) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}

@mixin desktop-xl {
  @media (min-width: v.$desktop-xl) {
    @content;
  }
}

// Links and buttons
@mixin link {
  cursor: pointer;
  padding: 1.2rem 1.6rem;
  border: none;
  background-color: transparent;
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  outline: 0;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  font-size: 1.6rem;
}

@mixin nav-link($hover-color) {
  @include link;

  & {
    color: v.$black;
    text-decoration: none;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover,
  &.active {
    background-color: color.adjust($hover-color, $lightness: 65%);
  }
}

@mixin button($background-color, $text-color, $icon-color: null) {
  @include link;

  &:hover {
    background-color: color.adjust($background-color, $lightness: -10%);
  }

  @if $icon-color != null {
    svg {
      color: $icon-color;
    }
  }

  & {
    background-color: $background-color;
    color: $text-color;
    border: none;
  }
}

// Headings and texts
@mixin heading-with-border($text-color, $border-color) {
  border-bottom: 2px solid $border-color;
  color: $text-color;
  padding-bottom: 2rem;
  font-weight: 700;
  width: 100%;

  span {
    color: v.$primary;
  }
}

@mixin intro-text {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 5rem;
}

// Tables
@mixin table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid v.$grey;
  }

  th,
  td {
    padding: 1rem;
  }
}

// CSS grids
@mixin grid($columns, $spacing) {
  display: grid;
  gap: $spacing;
  grid-template-columns: repeat($columns, 1fr);
}
