@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: v.$white;

  @include m.desktop {
    z-index: 30;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem;

    @include m.tablet {
      padding: 2rem 1rem;
    }

    @include m.tablet {
      padding: 2rem;
    }

    .logo {
      width: 17rem;

      @include m.tablet {
        width: 20rem;
      }
    }
  }

  &__options-hamburger {
    @include m.nav-link(v.$primary);
  }

  &__options-logout {
    @include m.button(v.$primary, v.$white, v.$secondary);
  }
}
