@use "@/styles/abstracts/variables" as v;

/* Welcome */
.welcome {
  border-bottom: 1px solid v.$grey;
  padding: 0 1.6rem 2rem;
  margin-bottom: 2rem;

  &__role {
    display: inline-block;
    background-color: v.$black;
    border-radius: 1rem;
    color: v.$white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.25rem;

    &--admin {
      background-color: v.$admin-role;
    }

    &--user {
      background-color: v.$user-role;
    }
  }

  &__salute {
    span {
      font-weight: 700;
    }
  }
}
