@use "sass:color";
@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

/* App Layout */
.app-layout {
  height: 100dvh;
  display: flex;
  flex-direction: column;

  &__frame {
    background-color: v.$light-grey;
    flex-grow: 1;
    margin-top: 7rem;

    @include m.desktop {
      display: grid;
      grid-template-columns: 2fr 6fr;
      gap: 1rem;
      margin-top: 9rem;
    }

    @include m.desktop-xl {
      grid-template-columns: 1fr 5fr;
    }
  }

  &__content {
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
  }
}
